# Numpy: Package for Multidimensional array
## Create an array

In [3]:
import numpy as np

In [3]:
sample_lists=[1,2,3]
np.array(sample_lists)

array([1, 2, 3])

In [4]:
ary=np.array([1,2,3])
ary

array([1, 2, 3])

In [5]:
Rows3_columns3=[1,2,3],[4,.5,6],[7,8,9]
np.array(Rows3_columns3)

array([[1. , 2. , 3. ],
       [4. , 0.5, 6. ],
       [7. , 8. , 9. ]])

In [8]:
np.arange(5,55)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54])

In [9]:
np.arange(5,55,5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [10]:
np.ones(7)

array([1., 1., 1., 1., 1., 1., 1.])

In [11]:
np.ones(7,dtype=int)

array([1, 1, 1, 1, 1, 1, 1])

In [12]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [13]:
np.zeros((3,6),dtype=int)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [14]:
np.linspace(0,2,4)

array([0.        , 0.66666667, 1.33333333, 2.        ])

In [15]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [16]:
np.random.rand(2,4)

array([[0.30152157, 0.9523724 , 0.38839565, 0.86096276],
       [0.56624112, 0.32089079, 0.78383597, 0.74544446]])

In [17]:
np.random.randn(2,4)

array([[ 1.26335790e-03, -4.67713724e-01,  1.53573448e+00,
        -6.67199725e-01],
       [ 1.86564884e+00,  1.20071867e-01,  4.82450521e-01,
         2.37652299e+00]])

In [19]:
np.random.randint(1,4,10)

array([3, 1, 3, 1, 2, 1, 1, 3, 3, 2])

In [24]:
np.random.randint(2,4)

3

In [26]:
sample_array=np.arange(1,20)
sample_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [27]:
np.ones((1,5))

array([[1., 1., 1., 1., 1.]])

In [37]:
rand_array=np.random.randint(0,10,5)
rand_array

array([9, 7, 6, 7, 0])

In [30]:
sample_array.min()

1

In [31]:
sample_array.argmin()

0

In [38]:
rand_array.argmin()

4

In [39]:
rand_array.max()

9

In [40]:
rand_array.argmax()

0

In [41]:
sample_array.argmax()

18

In [42]:
sample_array.dtype

dtype('int32')

In [43]:
a=np.eye(5)
a

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [45]:
a=np.random.rand(2,5)
a

array([[0.00370321, 0.34441922, 0.66223906, 0.94305888, 0.77350976],
       [0.3656137 , 0.55126416, 0.90964457, 0.61465144, 0.70395254]])

In [46]:
a.T

array([[0.00370321, 0.3656137 ],
       [0.34441922, 0.55126416],
       [0.66223906, 0.90964457],
       [0.94305888, 0.61465144],
       [0.77350976, 0.70395254]])

In [47]:
sample_array=np.arange(2,30)
sample_array

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [49]:
sample_array=sample_array.reshape(4,7)
sample_array

array([[ 2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22],
       [23, 24, 25, 26, 27, 28, 29]])

In [52]:
sample_array[2]=100
sample_array

array([[  2,   3,   4,   5,   6,   7,   8],
       [  9,  10,  11,  12,  13,  14,  15],
       [100, 100, 100, 100, 100, 100, 100],
       [ 23,  24,  25,  26,  27,  28,  29]])

In [53]:
sample_array=np.arange(10,100)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
       95, 96, 97, 98, 99])

In [54]:
sample_array[6:13]

array([16, 17, 18, 19, 20, 21, 22])

In [59]:
sample_array[1:5]=1001
sample_array

array([  10, 1001, 1001, 1001, 1001, 1000,   16,   17,   18,   19,   20,
         21,   22,   23,   24,   25,   26,   27,   28,   29,   30,   31,
         32,   33,   34,   35,   36,   37,   38,   39,   40,   41,   42,
         43,   44,   45,   46,   47,   48,   49,   50,   51,   52,   53,
         54,   55,   56,   57,   58,   59,   60,   61,   62,   63,   64,
         65,   66,   67,   68,   69,   70,   71,   72,   73,   74,   75,
         76,   77,   78,   79,   80,   81,   82,   83,   84,   85,   86,
         87,   88,   89,   90,   91,   92,   93,   94,   95,   96,   97,
         98,   99])

# Two Dimensional Array

In [4]:
sample_matrix=np.array([[1,2,3,4,],[4,5,6,7],[7,8,9,8]])
sample_matrix

array([[1, 2, 3, 4],
       [4, 5, 6, 7],
       [7, 8, 9, 8]])

In [63]:
sample_matrix[2][2]

9

In [64]:
sample_matrix[1][1]

5

In [65]:
sample_matrix[:,2]

array([3, 6, 9])

In [66]:
sample_matrix[2,2]

9

In [69]:
sample_matrix[1:3,2:4]

array([[6, 7],
       [9, 8]])

In [5]:
sample_matrix[1:,2:]

array([[6, 7],
       [9, 8]])

In [6]:
sample_matrix[2]

array([7, 8, 9, 8])

In [7]:
sample_array=np.arange(1,31)
sample_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [8]:
sample_array+sample_array

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60])

In [9]:
np.exp(sample_array)

array([2.71828183e+00, 7.38905610e+00, 2.00855369e+01, 5.45981500e+01,
       1.48413159e+02, 4.03428793e+02, 1.09663316e+03, 2.98095799e+03,
       8.10308393e+03, 2.20264658e+04, 5.98741417e+04, 1.62754791e+05,
       4.42413392e+05, 1.20260428e+06, 3.26901737e+06, 8.88611052e+06,
       2.41549528e+07, 6.56599691e+07, 1.78482301e+08, 4.85165195e+08,
       1.31881573e+09, 3.58491285e+09, 9.74480345e+09, 2.64891221e+10,
       7.20048993e+10, 1.95729609e+11, 5.32048241e+11, 1.44625706e+12,
       3.93133430e+12, 1.06864746e+13])

In [10]:
np.sqrt(sample_array)

array([1.        , 1.41421356, 1.73205081, 2.        , 2.23606798,
       2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766,
       3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335,
       4.        , 4.12310563, 4.24264069, 4.35889894, 4.47213595,
       4.58257569, 4.69041576, 4.79583152, 4.89897949, 5.        ,
       5.09901951, 5.19615242, 5.29150262, 5.38516481, 5.47722558])

In [11]:
np.log(sample_array)

array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791,
       1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509,
       2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ,
       2.77258872, 2.83321334, 2.89037176, 2.94443898, 2.99573227,
       3.04452244, 3.09104245, 3.13549422, 3.17805383, 3.21887582,
       3.25809654, 3.29583687, 3.33220451, 3.36729583, 3.40119738])

In [12]:
np.max(sample_array)

30

In [13]:
np.min(sample_array)

1

In [14]:
np.argmax(sample_array)

29

In [15]:
np.argmin(sample_array)

0

In [16]:
np.square(sample_array)

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144, 169,
       196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676,
       729, 784, 841, 900], dtype=int32)

In [17]:
np.std(sample_array)

8.65544144839919

In [18]:
np.var(sample_array)

74.91666666666667

In [19]:
np.mean(sample_array)

15.5

In [22]:
array=np.random.randn(3,4) 
array

array([[-1.10124678, -0.67410584, -0.94220314, -0.09723679],
       [-0.41907307,  0.59266242,  1.19795146, -1.36600017],
       [ 1.16170328, -0.55004256,  0.16367863,  0.15760096]])

In [23]:
np.round(array,decimals=3)

array([[-1.101, -0.674, -0.942, -0.097],
       [-0.419,  0.593,  1.198, -1.366],
       [ 1.162, -0.55 ,  0.164,  0.158]])

In [24]:
fruits=np.array(['apple','orange','mango','apple','orange','mango'])
np.unique(fruits)

array(['apple', 'mango', 'orange'], dtype='<U6')

In [25]:
fruits=np.array(['apple','Orange','mango','apple','orange','mango'])
np.unique(fruits)

array(['Orange', 'apple', 'mango', 'orange'], dtype='<U6')

# Pandas

In [12]:
import pandas as pd

In [13]:
import numpy as np

## Pandas dataframe and indexing

In [14]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [15]:
sports1['golf']

4

In [16]:
sports2=pd.Series([11,12,13,14],index=['cricket','baseball','basketball','golf'])
sports2

cricket       11
baseball      12
basketball    13
golf          14
dtype: int64

In [17]:
sports1+sports2

baseball       NaN
basketball    16.0
cricket       12.0
football       NaN
golf          18.0
dtype: float64

In [18]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='score1 score2 score3 score4 score5'.split())
df1

     score1    score2    score3    score4    score5
A  0.683728  0.707056  0.543824  0.015197  0.309868
B  0.867984  0.891227  0.119063  0.012072  0.652889
C  0.993181  0.918034  0.861509  0.806840  0.881809
D  0.236663  0.162670  0.030153  0.213968  0.122020
E  0.287094  0.793317  0.007914  0.375399  0.026049
F  0.808173  0.667795  0.011582  0.133246  0.615084
G  0.493037  0.077680  0.275551  0.399640  0.291936
H  0.237836  0.044404  0.955489  0.783873  0.307067

In [19]:
df1[['score3','score4','score5']]

     score3    score4    score5
A  0.543824  0.015197  0.309868
B  0.119063  0.012072  0.652889
C  0.861509  0.806840  0.881809
D  0.030153  0.213968  0.122020
E  0.007914  0.375399  0.026049
F  0.011582  0.133246  0.615084
G  0.275551  0.399640  0.291936
H  0.955489  0.783873  0.307067

In [20]:
df1['score2']

A    0.707056
B    0.891227
C    0.918034
D    0.162670
E    0.793317
F    0.667795
G    0.077680
H    0.044404
Name: score2, dtype: float64

In [21]:
df1['score6']=df1['score1']+df1['score5']
df1

     score1    score2    score3    score4    score5    score6
A  0.683728  0.707056  0.543824  0.015197  0.309868  0.993597
B  0.867984  0.891227  0.119063  0.012072  0.652889  1.520873
C  0.993181  0.918034  0.861509  0.806840  0.881809  1.874990
D  0.236663  0.162670  0.030153  0.213968  0.122020  0.358683
E  0.287094  0.793317  0.007914  0.375399  0.026049  0.313144
F  0.808173  0.667795  0.011582  0.133246  0.615084  1.423258
G  0.493037  0.077680  0.275551  0.399640  0.291936  0.784973
H  0.237836  0.044404  0.955489  0.783873  0.307067  0.544902

In [23]:
df1.drop('A')

     score1    score2    score3    score4    score5    score6
B  0.867984  0.891227  0.119063  0.012072  0.652889  1.520873
C  0.993181  0.918034  0.861509  0.806840  0.881809  1.874990
D  0.236663  0.162670  0.030153  0.213968  0.122020  0.358683
E  0.287094  0.793317  0.007914  0.375399  0.026049  0.313144
F  0.808173  0.667795  0.011582  0.133246  0.615084  1.423258
G  0.493037  0.077680  0.275551  0.399640  0.291936  0.784973
H  0.237836  0.044404  0.955489  0.783873  0.307067  0.544902

In [28]:
df1.drop('score4',axis=1)

     score1    score2    score3    score5    score6
A  0.683728  0.707056  0.543824  0.309868  0.993597
B  0.867984  0.891227  0.119063  0.652889  1.520873
C  0.993181  0.918034  0.861509  0.881809  1.874990
D  0.236663  0.162670  0.030153  0.122020  0.358683
E  0.287094  0.793317  0.007914  0.026049  0.313144
F  0.808173  0.667795  0.011582  0.615084  1.423258
G  0.493037  0.077680  0.275551  0.291936  0.784973
H  0.237836  0.044404  0.955489  0.307067  0.544902

In [8]:
import pandas as pd

In [12]:
import numpy as np

In [20]:
df2={'Id':[101,102,103,107,176],'Name':['Jai','Harish','Basker','Karthik','Dinesh'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    Id     Name  Profit
0  101      Jai      20
1  102   Harish      54
2  103   Basker      56
3  107  Karthik      87
4  176   Dinesh     123

In [21]:
df.drop(0)

    Id     Name  Profit
1  102   Harish      54
2  103   Basker      56
3  107  Karthik      87
4  176   Dinesh     123

In [22]:
df['Name']

0        Jai
1     Harish
2     Basker
3    Karthik
4     Dinesh
Name: Name, dtype: object